:root {
	--background-color: #000000;
	--text-color: #00FF33;
}

::selection {
	background-color: var(--text-color);
	color: var(--background-color);
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}


#primary {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#width_dummy {
	position: fixed;
	visibility: hidden;
}

#prompt {
	width: 80%;
	height: max-content;

	margin-bottom: 0.2em;

	font-size: 3em;
	font-family: 'Ubuntu Mono', monospace;
	text-align: center;
	word-wrap: break-word;

	color: var(--text-color);
}

#entry_space {
	width: 100%;
	display: flex;
	justify-content: center;
	
}

#arrow {
	margin-right: 0.25em;

	font-size: 2em;
	font-family: 'Ubuntu Mono', monospace;

	color: var(--text-color);
}

#console {
	border: 0px solid var(--background-color);
	padding: 0px;
	
	font-size: 2em;
	font-family: 'Ubuntu Mono', monospace;
	text-overflow: hidden;
	caret-color: transparent;

	background-color: var(--background-color);
	color: var(--text-color);
}

#under_cursor {
	font-size: 2em;
	font-family: 'Ubuntu Mono', monospace;

	background-color: var(--text-color);
}

